<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Cadastro de R.O</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">

            <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "logo" -->
            <div th:replace="~{/fragments/logo.html :: logo}"></div>
            <!-- Navbar Header -->
            <div th:replace="~{/fragments/navbar.html :: navbar}"></div>
            <!-- End Navbar -->
        </div>

        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Cadastro de R.O</h3>
                </div>
                <div class="row">
                    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <span th:text="${mensagem}"></span>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">Listagem de R.O</span>
                                <a
                                        th:href="@{/ro/form-inserir}"
                                        class="btn btn-primary"
                                        style="float: right"
                                > Nova R.O</a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table
                                            id="basic-datatables"
                                            class="display table table-striped table-hover"
                                    >
                                        <thead>
                                        <tr>
                                            <th style="width: 7%">ID</th>
                                            <th>Turma</th>
                                            <th>Aluno</th>
                                            <th>Professor</th>
                                            <th>Data</th>
                                            <th class="text-center" style="width: 7%">Ações</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th style="width: 7%">ID</th>
                                            <th>Turma</th>
                                            <th>Aluno</th>
                                            <th>Professor</th>
                                            <th>Data</th>
                                            <th class="text-center" style="width: 7%">Ações</th>
                                        </tr>
                                        </tfoot>
                                        <tbody>
                                        <tr th:if="${ros.empty}">
                                            <td colspan="6">Nenhum registro encontrado</td>
                                        </tr>

                                        <tr th:each="ro : ${ros}">
                                            <td><span th:text="${ro.id}"> Id </span></td>
                                            <td><span th:text="${ro.aluno.turma.curso}"> Turma </span></td>
                                            <td><span th:text="${ro.aluno.nome}"> Aluno </span></td>
                                            <td><span th:text="${ro.professor.nome}"> Proefssor </span></td>
                                            <td><span th:text="${#dates.format(ro.dtRo, 'dd/MM/yyyy')}"> Data de Conclusão </span></td>
                                            <td>

                                                <!-- Recurso do Themyleaf. Carrega o id do aluno para ser alterado -->
                                                <a th:href="@{/ro/form-alterar/{id}(id=${ro.id})}" class="edit" data-toggle="modal">
                                                    <i class="material-icons" data-toggle="tooltip" title="Alterar">&#xE254;</i>
                                                </a>
                                                <a th:href="@{/ro/excluir/{id}(id=${ro.id})}"
                                                   th:data-confirm-delete="|Você gostaria de apagar ${ro.id}?|"
                                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"
                                                   class="delete">
                                                    <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                                                </a>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{/fragments/footer.html :: footer}"></div>
    </div>

    <!-- End Custom template -->
</div>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>
<div th:replace="~{/fragments/datatables.html :: datatables}"></div>

</body>
</html>