<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Cadastro de Professores</title>
    <link rel="stylesheet" href="/assets/css/kaiadmin.css">
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
</head>
<body>
<div class="wrapper">
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <div class="main-panel">
        <div class="main-header">

            <div th:replace="~{/fragments/logo.html :: logo}"></div>
            <div th:replace="~{/fragments/navbar.html :: navbar}"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="card-container">
            <div class="card-1">
                <p class="card-title-1">Ocorências Recebidas</p>
                <p class="card-value">127</p>
            </div>
            <div class="card-2">
                <p class="card-title-2">Ocorrências Pendentes</p>
                <p class="card-value">20</p>
            </div>

            <div class="card-4">
                <p class="card-title-4">Ocorrências em Andamento</p>
                <p class="card-value">345</p>
            </div>
        </div>
    </div>
</div>


            <div th:replace="~{/fragments/footer.html :: footer}"></div>

    <div th:replace="~{/fragments/scripts.html :: scripts}"></div>
    <div th:replace="~{/fragments/datatables.html :: datatables}"></div>

</body>
</html>
